* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --light-red2: hsl(0, 100%, 96%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow2: hsl(39, 100%, 96%);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal2: hsl(166, 100%, 96%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue2: hsl(234, 85%, 96%);

    /* Gradients */

    /*background*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    /* for circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* neutral */

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* font size */

    --sm: 15px;
    --sm2: 18px;
    --md: 20px;
    --lg: 24px;

    /* fontweigth */

    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;

}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--pale-blue);
}

.component {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.component-container--left {
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 40px;
    border-radius: 0px 0px 24px 24px;
}

.component-container--left > p:first-child {
    color: var(--light-lavender);
    font-weight: var(--fw-800);
    margin-bottom: 16px;
}
 
.component-container--left__percentage {
    width: 120px;
    height: 120px;
    background: linear-gradient(to bottom, var(--violet-blue), var(--light-royal-blue) 70%);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.component-container--left__percentage p:first-child {
    font-size: 50px;
    color: var(--white);
    font-weight: 800;
}

.component-container--left__percentage p:last-child {
    color: var(--light-lavender)
}

.component-container--left > p:last-child{
    text-align: center;
    font-size: var(--sm);
    color: var(--light-lavender);
    margin-top: 8px;
}

.component-container--left > p:nth-child(3) {
    font-weight: var(--fw-700);
    font-size: var(--md);
    color: var(--white);
}

.component-container--right {
    padding: 24px;
}

.component-container--right > p:first-child {
    font-weight: var(--fw-800);
    color: var(--dark-gray-blue);
    font-size: var(--sm2);
}

.component-container--right__elements ul{
    display: grid;
    grid-template-rows: repeat(4, auto);
    list-style-type: none;
    gap: 8px;
    margin-top: 24px;

    li {
        border-radius: 8px;
        padding: 12px;
        a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            p {
                display: flex;
                align-items: center;
            }
            .score {
                font-weight: 800;
                color: #cacaca;
                span {
                    margin-right: 5px;
                    color: var(--dark-gray-blue);
                }
            } 
        }
    }
}

.component-container--right__elements ul {
    a {
        font-weight: 700;
    }

    li:nth-child(1) {
        a p:first-child{
            color: var(--light-red);
        }
        background-color: var(--light-red2);
    }
    
    li:nth-child(2) {
        a p:first-child{
            color: var(--orangey-yellow);
        }
        background-color: var(--orangey-yellow2);
    }

    li:nth-child(3) {
        a p:first-child{
            color: var(--green-teal);
        }
        background-color: var(--green-teal2);
    }

    li:nth-child(4) {
        a p:first-child{
            color: var(--cobalt-blue);
        }
        background-color: var(--cobalt-blue2);
    }
}

/* icons */

.icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.icon-reaction {
    background-image: url('../assets/images/icon-reaction.svg');
}

.icon-memory {
    background-image: url('../assets/images/icon-memory.svg');
}

.icon-verbal {
    background-image: url('../assets/images/icon-verbal.svg');
}

.icon-visual {
    background-image: url('../assets/images/icon-visual.svg');
}

/* button */

button {
    width: 100%;
    font-size: var(--sm);
    padding: 12px;
    border: none;
    color: var(--white);
    font-weight: var(--fw-700);
    background-color: var(--dark-gray-blue);
    border-radius: 40px;
    margin-top: 32px;
}

@media screen and (min-width: 768px){

    .component {
        height: 100vh;
    }
    .component-container {
        .component-container--left {
            border-radius: 24px;
            .component-container--left__percentage {
                width: 160px;
                height: 160px;
                margin-bottom: 16px;
            }
        }
        
        width: 600px;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr;
        border-radius: 24px;
    }

}